

.homepage .glavni-dogadjaj {
    position: relative;
    background: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.homepage .glavni-dogadjaj img {
    max-width: 100%;
    max-height: 800px;   
}


.homepage .glavni-dogadjaj .sadrzaj {

    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding-top: 50px;
    -webkit-box-shadow: inset -4px -155px 55px -61px rgba(0,0,0,0.8);
    -moz-box-shadow: inset -4px -155px 55px -61px rgba(0,0,0,0.8);
    box-shadow: inset -4px -155px 55px -61px rgba(0,0,0,0.8);

}

.homepage .glavni-dogadjaj .naslov-dogadjaja {
    width: 100%;
}

.homepage .glavni-dogadjaj .naslov-dogadjaja .glavni-naslov {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.homepage .glavni-dogadjaj .naslov-dogadjaja .podnaslov {
    color: white;
    font-size: 20px;
    opacity: 0.8;
}

.homepage .glavni-dogadjaj .sadrzaj .padding {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.odmakni {
    margin-top: 50px;
}

.red {
    display: flex;
}

.red .kolona-50-posto {
    display: flex;
    width: 50%;
    flex-direction: column;;
}

.kolona-50-posto.druga-kolona {
    margin-left: 10px;
}

.flex {
    display: flex
}


.homepage-link {
    text-decoration: none;
}

